extends ../layouts/main-layout.pug 

block styles
    link(rel="stylesheet" href='/css/forms.css')

block content
    if errorMessage
        div.alert.alert-danger.col-sm-7 !{errorMessage}

    form(method="post" action="/admin/add-product" enctype="multipart/form-data")
        input(type="hidden" name="_csrf" value=`${csrfToken}`)
        .form-group.row.my-1
            label(for="name").col-sm-3.col-form-label Product Name
            .col-sm-9
                input(type="text" placeholder="Enter Product Name"
                                name="name" value=`${inputs.name}`).form-control#name

        .form-group.row.my-1
            label(for="price").col-sm-3.col-form-label Price
            .col-sm-9
                input(type="text" placeholder="Enter Product Price"
                                name="price" value=`${inputs.price}`).form-control#price

        .form-group.row.my-1
            label(for="image").col-sm-3.col-form-label Image File
            .col-sm-9
                input(type="file" name="image").form-control-file#image
        //- .form-group.row.my-1
        //-     label(for="imageURL").col-sm-3.col-form-label Image File
        //-     .col-sm-9
        //-         input(type="text"
        //-                         name="imageURL").form-control#image

        //- .form-group.row.my-1
        //-     label(for="categoryId").col-sm-3.col-form-label Category Id
        //-     .col-sm-9
        //-         select(name="categoryId").form-control#categoryId
        //-             option(value="-1").selected Select Category
        //-             each category in categories
        //-                 option(value=`${category.id}`) #{category.name}

        .form-group.row.my-1
            label(for="description").col-sm-3.col-form-label Description
            .col-sm-9
                textarea#description.form-control(cols='30' rows='10' 
                name="description") #{inputs.description}
                
        .form-group.row.my-1
            .col-sm-3.offset-sm-3
                input(type="submit" value="Save Product").btn.btn-primary
        
        