extends ../layouts/main-layout.pug 

block styles
    link(rel="stylesheet" href='/css/forms.css')

block content
    form(method="post" action="/admin/products" enctype="multipart/form-data")
        input(type="hidden" name="_csrf" value=`${csrfToken}`)
        input(type="hidden" name="id" value=`${product._id}`)

        .form-group.row.my-1
            label(for="name").col-sm-3.col-form-label Product Name
            .col-sm-9
                input(type="text" value=`${product.name}`
                                name="name").form-control#name

        .form-group.row.my-1
            label(for="price").col-sm-3.col-form-label Price
            .col-sm-9
                input(type="text" value=`${product.price}`
                                name="price").form-control#price

        .form-group.row.my-1
            label(for="imageURL").col-sm-3.col-form-label Image File
            .col-sm-9
                img(src=`/img/${product.imageURL}` width='100').m-2
                input(type="file" name="image")#image                            
                


        .form-group.row.my-1
            label(for="categoryIds").col-sm-3.col-form-label Category 
            .col-sm-9
                each category in categories
                    if category.selected === true
                        input(type="checkbox" value=`${category._id}` name="categoryIds" checked)
                        | #{category.name}
                        br
                    else
                        input(type="checkbox" value=`${category._id}` name="categoryIds" )
                        | #{category.name}
                        br

        .form-group.row.my-1
            label(for="description").col-sm-3.col-form-label Description
            .col-sm-9
                textarea#description.form-control(cols='30' rows='10' 
                name="description") #{product.description}

        .form-group.row.my-1
            .col-sm-3.offset-sm-3
                input(type="submit" value="Update Product").btn.btn-primary
        
        