extends ../layouts/main-layout.pug

block content

    if orders.length > 0
        each order in orders
            .card.mb-5
                .card-header
                    h3 order id:##{order.id}
                table.table.table-striped
                    thead
                        tr
                            th Image
                            th Product Name
                            th Price
                            th Quantity
                    tbody
                        each product in order.products
                            tr
                                td
                                    img(src=`/img/${product.imageURL}` width='80')
                                td #{product.name}
                                td #{product.orderItem.price}
                                td #{product.orderItem.quantity}
                    tfoot
                        tr
                            td(colspan='2') #{order.createdAt.toDateString()}
                            - var total = 0;
                            each product in order.products
                                - total += product.orderItem.quantity * product.price;
                            td #{total} €


    else
        h1 No Orders yet